<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscriptions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
  

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-container">
        {% for category, message in messages %}
          <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
          {% endif %}
{% endwith %}

  <form content="{{ url_for('subscription.update_subscription', slug=subscription.slug) if subscription else url_for('subscription.create_subscription') }}" method="post">
    <h2>{{"Update Subscription" if subscription else "Subscription Service"}}</h2>
    <label for="service-name">service name:</label>
    <input
            type="text"
            id="service-name"
            name="service_name"
            placeholder="Gym subscription"
            value="{{ form_data.get('service_name', '') }}"
            required
    >

    <label for="payment-type">payment type:</label>
    <select id="payment-type" name="payment_type" required>
      {% set options = ["Paybill", "Till Number"] %} <!-- get it to say "Till Number -->
      {% set current_payment_type = form_data.get('payment_type') %}

      {% for option in options %}
      <option value="{{ option }}"
              {% if option == current_payment_type %}
                selected
              {% endif %}
      >
        {{ option }}
        {% endfor %}
      </option>
<!--      <option value="paybill">Paybill</option>-->
<!--      <option value="till_number">Till Number</option>-->
    </select>

    <label for="till-number">till number:</label>
    <input type="text"
           id="till-number"
           name="till_number"
           placeholder="1234567"
           value="{{ form_data.get('till_number', '') }}" 
    >

    <label for="paybill-number">paybill number:</label>
    <input type="text"
           id="paybill-number"
           name="paybill_number"
           placeholder="522522"
           value="{{ form_data.get('paybill_number', '') }}"
    >

    <label for="acc-number">acc number:</label>
    <input type="text"
           id="acc-number"
           name="account_number"
           placeholder="12345ABC"
           value="{{ form_data.get('account_number', '') }}"
    >

    <label for="amount">amount: </label>
    <input type="number"
           id="amount"
           name="amount"
           placeholder="service cost"
           step="0.01"
           min="100"
           value="{{ form_data.get('amount', '') }}"
           required
    >

    <label for="frequency">Frequency: </label>
    <select id="frequency" name="frequency" required>

      {% set options = ["Monthly", "Annually", "Weekly", "Daily"] %}
      {% set current_frequency = form_data.get('frequency') %}

      {% for option in options %}
      <option value="{{ option }}"
              {% if option == current_frequency %}selected{% endif %}
      >
        {{ option }}
        {% endfor %}
      </option>
<!--      <option value="annually">Annually</option>-->
    </select>

    <label for="next-payment">Next Payment: </label>
    <input type="date"
          id="next-payment"
          name="next_payment_date"
          value="{{ form_data.get('next_payment_date') }}"
    >

    <button type="submit">{{"Update" if subscription else "Create Subscription"}}</button>
  </form>
  <a href="{{ url_for('auth.logout') }}">Log out</a>

</body>
</html>