<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscription Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="detail-card">
  <h2>{{ subscription.user.user_name }} - {{ subscription.service_name }}</h2>
  <table class="detail-table">
    <tbody>
      <tr>
        <th>mpesa number</th>
        <td>{{ mpesa_number }}</td>
      </tr>
      <tr>
        <th>service name</th>
        <td>{{ subscription.service_name }}</td>
      </tr>
      <tr>
        <th>payment type</th>
        <td>{{ subscription.payment_type }}</td>
      </tr>
      {% if subscription.payment_type == "Till Number" %}
        <tr>
          <th>till number</th>
          <td>{{ subscription.till_number }}</td>
        </tr>
      {% else %}
        <tr>
          <th>paybill number</th>
          <td>{{ subscription.paybill_number }}</td>
        </tr>
      <tr>
        <th>acc. number</th>
        <td>{{ account_number }}</td>
      </tr>
      {% endif %}

      <tr>
        <th>amount</th>
        <td>{{ subscription.amount }}</td>
      </tr>
      <tr>
        <th>frequency</th>
        <td>{{ subscription.frequency }}</td>
      </tr>
      <tr>
        <th>next payment date</th>
        <td>{{ subscription.next_payment_date if subscription.next_payment_at is none else subscription.next_payment_at}}</td>
      </tr>
      <tr>
        <th>status</th>
        <td>{{ subscription.status }}</td>
      </tr>
    </tbody>
  </table>

  <div class="detail-actions">
    <a href="{{ url_for('subscription.update_subscription', slug=subscription.slug) }}" class="btn edit">Edit</a>
    <a href="{{ url_for('subscription.delete_subscription', slug=subscription.slug) }}" class="btn delete-link">Delete</a>
  </div>

</div>
</body>
</html>